# History files
.Rhistory

# Example code in package build process
*-Ex.R

# gedit backup files
*~
.Rproj.user

# built source files
src-*/
src/FLa4a.dll
src/a4a.o

# rstudio files
*.Rproj

# built vignettes
inst/doc/*

docs/manual/cache/*
