export(a4a)
export(a4a.dir)
export(a4aInternal)
export(calcLogLik)
export(calcLogPrior)
export(check.executable)
exportClasses(a4aFit)
exportClasses(a4aFitExt)
exportClasses(a4aFitResiduals)
exportClasses(a4aFitSA)
exportClasses(a4aGr)
exportClasses(a4aM)
exportClasses(SCAPars)
exportClasses(submodel)
exportClasses(submodels)
export(collapseSeasons)
export(geta4aLatticeOptions)
export(getADMBHessian)
export(getCov)
export(is.empty)
export(makePrediction)
exportMethods(a4aFit)
exportMethods(a4aFitExt)
exportMethods(a4aFitMCMC)
exportMethods(a4aFitSA)
exportMethods(a4aGr)
exportMethods(a4aM)
exportMethods(baseLvlPars)
exportMethods(bubbles)
exportMethods(coef)
exportMethods(simulate)
exportMethods(covar)
exportMethods(designMatrix)
exportMethods("distr<-")
exportMethods(distr)
exportMethods(fCovar)
exportMethods(fFrml)
exportMethods(fitSumm)
exportMethods(FLblockboot)
exportMethods(FLBstar)
exportMethods(fmodel)
exportMethods(fPars)
exportMethods(getK)
exportMethods(getX)
exportMethods(getYidx)
exportMethods(grad)
exportMethods("grInvMod<-")
exportMethods(grInvMod)
exportMethods("grMod<-")
exportMethods(grMod)
exportMethods(hessian)
#exportMethods(index.hat)
#exportMethods(index.lhat)
#exportMethods(index.lres)
#exportMethods(index.lvar)
exportMethods(l2a)
exportMethods("level<-")
exportMethods(level)
exportMethods(logq)
exportMethods(m)
exportMethods(model)
exportMethods(mvrcop)
exportMethods(mvrnorm)
exportMethods(mvrtriangle)
exportMethods(n1model)
exportMethods(niters)
exportMethods("params<-")
exportMethods(params)
exportMethods(pars)
exportMethods(pars2dim)
exportMethods(plot)
exportMethods(predict)
exportMethods(qCovar)
exportMethods(qFrml)
exportMethods(qmodel)
exportMethods(qPars)
exportMethods(qqmath)
exportMethods(residuals)
exportMethods("rngage<-")
exportMethods(rngage)
exportMethods("rnglen<-")
exportMethods(rnglen)
exportMethods("rngmbar<-")
exportMethods(rngmbar)
exportMethods("rngyear<-")
exportMethods(rngyear)
exportMethods(SCAPars)
exportMethods("shape<-")
exportMethods(shape)
exportMethods(srCovar)
exportMethods(srFrml)
exportMethods(srmodel)
exportMethods(srPars)
exportMethods(stdlogres)
exportMethods(stkmodel)
exportMethods(submodel)
exportMethods(submodels)
exportMethods("trend<-")
exportMethods(trend)
exportMethods("vcov<-")
exportMethods(vcov)
exportMethods(vCovar)
exportMethods(vecage)
exportMethods(veclen)
exportMethods(vecmbar)
exportMethods(vecyear)
exportMethods(vFrml)
exportMethods(vmodel)
exportMethods(vPars)
export(os.32or64bit)
export(os.type)
export(plotIters)
import(copula)
import(lattice)
import(latticeExtra)
import(Matrix)
import(mgcv)
import(np)
import(RColorBrewer)
import(splines)
import(triangle)
import(stats)
import(FLCore)
import("methods")
importFrom("stats","simulate")
