import("methods")
import("FLCore")
import("mgcv")
import("triangle")
importFrom("copula",
  ellipCopula,
  archmCopula,
  rMvdc,
  mvdc)
importFrom("graphics",
  abline, axis, legend, mtext, par)
importFrom("lattice",
  qqmath, panel.xyplot, panel.abline, prepanel.qqmathline, panel.qqmathline,
  panel.qqmath, panel.grid, panel.polygon, panel.segments)
importFrom("Matrix",
  bdiag,Diagonal,Matrix)
importClassesFrom("Matrix",
  dsCMatrix,Matrix)
importFrom("coda",
  mcmc, as.mcmc)
importFrom("utils",
  capture.output, read.table, write.table, sessionInfo)
importFrom("stats",
  runif, cor, complete.cases, cov2cor, formula, model.matrix, qnorm,
  as.formula, "nlminb", "optimHess", "BIC")
importFrom("utils",
  "combn")
importFrom("grid",
  textGrob,
  gpar)
importFrom("gridExtra",
  grid.arrange)
import("latticeExtra")

export(collapseSeasons)
export(getADMBHessian)
export(getADMBCovariance)
export(getCov)
export(is.empty)
export(getTPL)
export(defaultFmod)
export(defaultQmod)
export(defaultN1mod)
export(defaultVmod)
export(defaultSRmod)
export(a4aSCA)
export(sca.sa)
export(sep.sa)
#export(makePrediction)
#export(os.32or64bit)
#export(os.type)
#export(plotIters)

exportClasses(a4aFit)
exportClasses(a4aFits)
exportClasses(a4aFitResiduals)
exportClasses(a4aFitSA)
exportClasses(a4aFitSAs)
exportClasses(a4aFitMCMC)
exportClasses(a4aFitMCMCs)
exportClasses(a4aFitCatchDiagn)
exportClasses(a4aGr)
exportClasses(a4aM)
exportClasses(SCAMCMC)
exportClasses(SCAPars)
exportClasses(a4aStkParams)
exportClasses(submodel)
exportClasses(submodels)

exportMethods("distr<-")
exportMethods("grInvMod<-")
exportMethods("grMod<-")
exportMethods("level<-")
exportMethods("params<-")
exportMethods("formula<-")
#exportMethods("rngage<-")
#exportMethods("rngquant<-")
#exportMethods("rnglen<-")
#exportMethods("rngmbar<-")
#exportMethods("rngyear<-")
exportMethods("shape<-")
exportMethods("trend<-")
exportMethods(coefficients)
exportMethods("coefficients<-")
exportMethods(as.mcmc)
exportMethods(a4aFit)
exportMethods(a4aFits)
exportMethods(a4aFitSA)
exportMethods(a4aFitSAs)
exportMethods(a4aFitMCMC)
exportMethods(a4aFitMCMCs)
exportMethods(a4aGr)
exportMethods(a4aM)
exportMethods(breakpts)
exportMethods(bubbles)
exportMethods(burnin)
exportMethods(clock)
exportMethods(coef)
exportMethods(computeCatchDiagnostics)
exportMethods(covar)
#exportMethods(designMatrix)
exportMethods(dims)
exportMethods(distr)
exportMethods(fCovar)
exportMethods(fFrml)
exportMethods(fitSumm)
#exportMethods(FLblockboot)
#exportMethods(FLBstar)
exportMethods(formula)
exportMethods(fmodel)
exportMethods(fPars)
exportMethods(genFLIndex)
exportMethods(genFLQuant)
exportMethods(genFLStock)
exportMethods(getAcor)
exportMethods(getADMBCallArgs)
exportMethods(getK)
exportMethods(getN)
exportMethods(getX)
exportMethods(getYidx)
#exportMethods(grad)
exportMethods(grInvMod)
exportMethods(grMod)
exportMethods(iter)
exportMethods(l2a)
exportMethods(level)
exportMethods(m)
exportMethods(ma)
exportMethods(model)
exportMethods(mvrcop)
exportMethods(mvrnorm)
exportMethods(mvrtriangle)
exportMethods(n1model)
exportMethods(niters)
exportMethods(params)
exportMethods(pars)
exportMethods(pars2dim)
exportMethods(plot)
exportMethods(predict)
exportMethods(qCovar)
exportMethods(qFrml)
exportMethods(qmodel)
exportMethods(qPars)
exportMethods(qqmath)
#exportMethods(ra)
exportMethods(range)
exportMethods(residuals)
exportMethods(replaceZeros)
#exportMethods(rngage)
#exportMethods(rngquant)
#exportMethods(rnglen)
#exportMethods(rngmbar)
#exportMethods(rngyear)
exportMethods(sca)
exportMethods(SCAMCMC)
exportMethods(SCAPars)
exportMethods(shape)
exportMethods(simulate)
exportMethods(srCovar)
exportMethods(srFrml)
exportMethods(srmodel)
exportMethods(srPars)
exportMethods(stdlogres)
exportMethods(stkmodel)
exportMethods(submodel)
exportMethods(submodels)
exportMethods(trend)
exportMethods(vCovar)
#exportMethods(vecage)
#exportMethods(vecquant)
#exportMethods(veclen)
#exportMethods(vecmbar)
#exportMethods(vecyear)
exportMethods(vFrml)
exportMethods(vmodel)
exportMethods(vPars)
exportMethods(wireframe)
exportMethods(wt)
