#export(a4a.dir)
#export(a4aInternal)
export(a4a)
#export(check.executable)
export(collapseSeasons)
export(getADMBHessian)
export(getADMBCovariance)
export(getCov)
export(is.empty)
#export(makePrediction)
#export(os.32or64bit)
#export(os.type)
#export(plotIters)
exportClasses(a4aFit)
exportClasses(a4aFitResiduals)
exportClasses(a4aFitSA)
exportClasses(a4aFitSAs)
exportClasses(a4aGr)
exportClasses(a4aM)
exportClasses(SCAPars)
exportClasses(a4aStkParams)
exportClasses(submodel)
exportClasses(submodels)
exportMethods("distr<-")
exportMethods("grInvMod<-")
exportMethods("grMod<-")
exportMethods("level<-")
exportMethods("params<-")
exportMethods("rngage<-")
exportMethods("rngquant<-")
exportMethods("rnglen<-")
exportMethods("rngmbar<-")
exportMethods("rngyear<-")
exportMethods("shape<-")
exportMethods("trend<-")
exportMethods(a4aFit)
exportMethods(a4aFitSA)
exportMethods(a4aFitSAs)
exportMethods(a4aGr)
exportMethods(a4aM)
exportMethods(a4aSCA)
exportMethods(breakpts)
exportMethods(bubbles)
exportMethods(clock)
exportMethods(coef)
exportMethods(covar)
#exportMethods(designMatrix)
exportMethods(dims)
exportMethods(distr)
exportMethods(fCovar)
exportMethods(fFrml)
exportMethods(fitSumm)
#exportMethods(FLblockboot)
#exportMethods(FLBstar)
exportMethods(fmodel)
exportMethods(fPars)
exportMethods(genFLIndex)
exportMethods(genFLQuant)
exportMethods(genFLStock)
exportMethods(getAcor)
exportMethods(getK)
exportMethods(getX)
exportMethods(getYidx)
#exportMethods(grad)
exportMethods(grInvMod)
exportMethods(grMod)
exportMethods(hessian)
exportMethods(l2a)
exportMethods(level)
exportMethods(m)
exportMethods(ma)
exportMethods(model)
exportMethods(mvrcop)
exportMethods(mvrnorm)
exportMethods(mvrtriangle)
exportMethods(n1model)
exportMethods(niters)
exportMethods(params)
exportMethods(pars)
exportMethods(pars2dim)
exportMethods(plot)
exportMethods(predict)
exportMethods(qCovar)
exportMethods(qFrml)
exportMethods(qmodel)
exportMethods(qPars)
exportMethods(qqmath)
#exportMethods(ra)
exportMethods(residuals)
exportMethods(rngage)
exportMethods(rngquant)
exportMethods(rnglen)
exportMethods(rngmbar)
exportMethods(rngyear)
exportMethods(sca)
exportMethods(SCAPars)
exportMethods(shape)
exportMethods(simulate)
exportMethods(srCovar)
exportMethods(srFrml)
exportMethods(srmodel)
exportMethods(srPars)
exportMethods(stdlogres)
exportMethods(stkmodel)
exportMethods(submodel)
exportMethods(submodels)
exportMethods(trend)
exportMethods(vCovar)
exportMethods(vecage)
exportMethods(vecquant)
exportMethods(veclen)
exportMethods(vecmbar)
exportMethods(vecyear)
exportMethods(vFrml)
exportMethods(vmodel)
exportMethods(vPars)
exportMethods(wt)
import("methods")
import("copula")
import("FLCore")
import("mgcv")
#import("splines")
import("triangle")
importFrom("lattice",qqmath)
importFrom("Matrix",bdiag,Diagonal,Matrix)
importClassesFrom("Matrix",dsCMatrix,Matrix)
